
.topo{

    height: 90px;
    left: 277px;
    top: 37px;
    border: 2px solid black;
}
.form{
    display: flex;
    height: 400px;
    left: 133px;
    top: 15px;
    border: 2px solid black;

}
.formulario{

}